<div class="">
  <div>
    <h1>Bedrijfsregister</h1>
  </div>
  <div>
    <p>Voer de naam, plaats of het KvK nummer in.</p>
  </div>
  <%= form_with(url: '/', method: "GET", data: { turbo_frame: "search_frame" }) do |form| %>
    <div>
      <%= form.label :query, "Invoerveld:" %>
      <%= form.text_field :query, data: { action: "input->searchform#search" } %>
    </div>
  <% end %>
  <%= turbo_frame_tag 'search_frame' do %>
    <%= render 'page/search_results', companies: @companies %>
  <% end %>
</div>
